#grafico {
    display: flex;
    justify-content: center;   /* centraliza horizontal */
    margin: 20px 0;
}

#grafico svg {
    display: block;
    margin: 0 auto;
    max-width: 800px;   /* controla largura do gráfico */
    width: 100%;        /* responsivo */
    height: auto;
}

.barra {
    stroke: black;
}

.rotulo {
    text-anchor: middle;
}

#eixoX text {
    font-size: 120%;
    text-anchor: end;
    transform: translate(-8px, 2px) rotate(-45deg);
}

#eixoY text {
    font-size: 120%;
}

#grade path {
    display:none;
}

#grade line {
    stroke: #bbb;
    stroke-dasharray: 4, 4;
}

figure {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

figcaption {
    font-size: xx-large ;
    font-weight: bold;
}

footer {
  text-align: center;
  font-size: 12px; /* opcional, para ajustar o tamanho */
  color: #555;     /* opcional, para suavizar a cor */
  margin-top: 20px;
}
